# .clang-tidy configuration file for C++17

Checks:
  - "bugprone-*"
  - "-bugprone-narrowing-conversions"
  - "cert-*"
  - "-cert-err58-cpp"
  - "clang-analyzer-*"
  - "cppcoreguidelines-*"
  - "-cppcoreguidelines-narrowing-conversions"
